gym==0.23.1
joblib==1.4.2
JPype1==1.5.0
lightgbm==4.5.0
matplotlib==3.9.2
numpy==1.26.4
omegaconf==2.3.0
openai==1.52.1
pandas==2.2.3
Pillow==11.0.0
PyYAML==6.0.2
scikit-learn==1.5.2
scikit-plot==0.3.7
scipy==1.11.4
seaborn==0.13.2
stable_baselines3==1.1.0
torch==2.5.0
wandb==0.18.5
zhipuai==2.1.5.20230904
